<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial do Controle de Finanças!</h1>

    <h2>Transações</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.get_tipo_display }}</td>
                <td>R$ {{ transacao.valor }}</td>
                <td>
                    {% if transacao.categoria %}
                        {{ transacao.categoria.nome }}
                    {% else %}
                        Sem Categoria
                    {% endif %}
                </td>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.data }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhuma transação encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Categorias</h2>
    <ul>
        {% for categoria in categorias %}
        <li>{{ categoria.nome }}: {{ categoria.descricao }}</li>
        {% empty %}
        <li>Nenhuma categoria encontrada.</li>
        {% endfor %}
    </ul>

</body>
</html>