{% load static %} <!-- Carrega a tag estática -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Finanças</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Referencia o arquivo CSS -->
</head>
<body>

    <h1>Bem-vindo à Página Inicial do Controle de Finanças!</h1>
    <p>Você está renderizando sua primeira página de finanças via Python e Django!</p>

</body>
</html>